
h1{
    color:green;
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.whyus{
    display: flex;
    gap: 50px;
    margin: 50px;
    justify-content: center;
    align-items: center;

}
.goals{
    display:flex;
    flex-direction: column;
    margin-top:50px;
}
.list{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
img{
    border-radius: 20px;
    height: 400px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.msg{
    display:flex;
    gap: 50px;
}
.msgform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 10px;
}
.msgform input,textarea{
    border-radius: 10px;
    padding: 10px;

}
.msgform input:focus{
    border: 2px solid green;
}

.msgform input:hover{
    border: 2px solid green;
}
.msgform label{
    display:None;
}
.msgform input[type='submit']{
    background-color: green;
    color: white;
}
.msgform input[type='submit']:hover{
    background:rgb(4, 96, 4)
}