.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-image: url("/static/images/fresh.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
    color: white;
    overflow: hidden;
    position: relative;
    margin:10px;
}

.main::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}
.main h1,
.main h2,
.main a{
    position: relative;
    z-index: 2;
}

.btn{
    display: flex;
    gap: 20px;
}
button{
    background-color: green;
    color:aliceblue;
    padding: 10px;
    border-radius: 10px;
}
.btn button:hover{
    background-color: rgb(47, 166, 47);
}
