body{
    background-image: url(/static/images/signup.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.signup{
    width: 500px;
    margin: 50px 220px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
}


.signup h1{
    color: green; 
    font-family: 'Dancing Script', cursive; 
    font-weight: bold; 
    font-size: 24px;
    text-align: center;
}

.signup p{
    text-align: center;
    color: green
}

.regform{
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: flex-start;

}

.regform input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(190, 198, 205);
    outline: none;
}

.regform input:focus{
    border: 2px solid green;
}

.regform input:hover{
    border: 2px solid green;
}

.regform input[type='submit']{
    background-color: green;
    color: white;
    font-weight: bold;
    display: block;
}
.regform input[type='submit']:hover{
    background-color: darkgreen;
}   
.regform a{
    text-decoration: none;
}
.regform li{
    color: red;
}